:root {
    --color-white: #fff;
    --color-black: #000;
    --color-orange: rgb(221, 99, 42);
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    display: none;
  }
  
  /*----------Abschnitt Animation Text----------*/
  .animated_text span {
    position: absolute;
    opacity: 0;
    animation: background_text 6s infinite;
  }
  
  .room1:hover .rooms_inlinetext,
  .room2:hover .rooms_inlinetext,
  .room3:hover .rooms_inlinetext,
  .room4:hover .rooms_inlinetext {
    animation: rooms_text 1s ease-in-out forwards;
  }
  
  .animated_text span:nth-child(1) {
    animation-delay: 0s;
    margin-left: 1.5rem;
  }
  
  .animated_text span:nth-child(2) {
    animation-delay: 2s;
    margin-left: 3rem;
  }
  
  .animated_text span:nth-child(3) {
    animation-delay: 4s;
  }
  .a-place {
    margin-top: -5rem;
  }
  .our_and_yourhome_text {
    animation: our_text 5s ease-in-out forwards;
  }
  
  /*----------Abschnitt Räume-Überschirft----------*/
  
  .our_acc,
  .rooms_text {
    text-align: center;
    
  }
  .our_acc {
    font-family: "Cabin", sans-serif;
    font-weight: 800;
    color: var(--color-orange);
  }
  .rooms_text {
    font-size: 2.9rem;
    margin: 1rem;
    font-family: "Lora", serif;
  }
  /*----------Abschnitt Räume-Bilder----------*/
  .rooms {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    color: var(--color-white);
    width: 97%;
    
  
    gap: 1rem;
  }
  
  .room1,
  .room2,
  .room3,
  .room4 {
    z-index: 1;
    background-position: center;
    background-size: cover;
  
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: hidden;
    width: 22.79rem;
    height: 37rem;
  
  }
  .room1{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.007),
      rgba(0, 0, 0, 0.438)
    ),
    url(../images/1BHK.jpeg);
  }
  .room2{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.767)
    ),
    url(../images/2BHK.jpeg);
  }
  
  
  
  /*----------Abschnitt Räume-Inline-Text----------*/
  
  .rooms_inlinetext {
    font-family: "Cabin", sans-serif;
    display: grid;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 1rem;
    color: var(--color-white);
  }
  .room_name {
    color: #f9f5e7;
    font-size: 2rem;
    font-weight: 500;
  }
  .per_night {
    font-size: 1rem;
    font-weight: 500;
  }
  .price {
    color: #f1dec9;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .table {
    border-collapse: collapse;
  }
  .services {
    display: grid;
    flex-shrink: 1;
  }
  .capacity {
    display: grid;
    flex-shrink: 1;
  }
  .td {
    padding: 0 3rem 1rem 0;
  }
  .details {
    letter-spacing: 2px;
    font-size: small;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    margin-top: 2rem;
    color: #fff8ea;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1.9px solid #fff8ea;
    width: max-content;
  }
  
  /*----------Abschnitt Keyframes----------*/
  @keyframes background_text {
    0%,
    100% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  @keyframes our_text {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /*----------Abschnitt Media Queries----------*/
  
  @media screen and (min-width: 769px) {
    .background {
      color: var(--color-white);
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      font-size: 6rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hintergrund-banner1.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 50vh;
    }
    .rooms_inlinetext {
      transform: translateY(20rem);
    }
    .room2 .rooms_inlinetext {
      transform: translateY(19rem);
    }
  
    @keyframes rooms_text {
      0% {
        transform: translateY(100%);
        opacity: 1;
      }
      50% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: 857px){
    .room2 .rooms_inlinetext {
      transform: translateY(20rem);
    }
  }
  
  @media screen and (min-width: 992px) {
    .rooms_inlinetext {
      font-size: 0.7rem;
      display: inline;
      width: 14vw;
      
      padding: 0;
    }
    .room1 .rooms_inlinetext,.room4 .rooms_inlinetext {
      transform: translateY(22rem);
    }
     
    .room2 .rooms_inlinetext, .room3 .rooms_inlinetext{
      transform: translateY(21rem);
    }
    .td {
      padding-right: 2rem;
    }
    .rooms_inlinetext {
    }
  
    .rooms {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      flex-shrink: 1;
    }
    .room1,
    .room2,
    .room3,
    .room4 {
      width: auto;
    }
    .room_name {
      width: 20vw;
    }
  }
  @media screen and (min-width: 1077px) {
    .room3 .rooms_inlinetext {
      transform: translateY(22rem);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .td {
      padding: 0 3rem 1rem 0;
    }
  
    .room2 .rooms_inlinetext {
      transform: translateY(21rem);
    }
  }
  @media screen and (min-width: 1364px) {
    .room2 .rooms_inlinetext {
      transform: translateY(19.5rem);
    }
  }
  @media screen and (min-width: 1443px) {
    .room1 .rooms_inlinetext,.room3 .rooms_inlinetext, .room4 .rooms_inlinetext{
      transform: translateY(20.6rem)
    }
  }
  @media screen and (min-width: 1477px) {
  
    .room1 .rooms_inlinetext, .room2 .rooms_inlinetext,.room3 .rooms_inlinetext, .room4 .rooms_inlinetext{
      transform: translateY(19rem)
    }
  }
  
  